{% load get_locale %}

<section class="index-services" id="index-services">
    <div class="container">
        <div class="g-block__title">
            {{services.title}}

            <a class="index-services__more" href="/services">
                {{services.all_services}}{% include '#img/arrow-empty-r.svg' %}
            </a>
        </div>
        <div class="index-services__desc">
            {{services.desc}}
        </div>
        <div class="index-services__wrapper">
            <div class="index-services__col index-services__col--first">
                <div>
                    <div class="index-services__slider-title _index-services__slider-title">
                        Что то пошло не так
                    </div>
                    <a href="#" class="index-services__to-article _index-services__to-article">
                        {{services.read_more}}
                    </a>
                </div>
                <div class="index-services__nav g-slider _index-services__nav"></div>
            </div>
            <div class="index-services__col index-services__col--second">
                <div class="index-services__slider g-slider _index-services__slider">
                    {% for service in services.slides %}
                    <div
                        class="index-services__slider-item"
                        data-title="{{service.title|get_locale:locale}}"
                        data-url="/services/{{service.id}}">
                        <img src="{{service.img.url}}" alt="service" />
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
