<div class="popup popup-galery _popup-galery">
    <div class="popup__body">
        <div class="popup__content">
            <div
                class="popup__close"
                onclick="gz.popup.close('_popup-galery')">
                <div class="popup__close-btn"></div>
            </div>
            <div class="popup-galery__slider g-slider _popup-galery__slider"></div>
        </div>
    </div>
</div>
