.banner
{
    position: relative;

    @include tablet
    {
        height: calc(100vh - 104px);
        min-height: 600px;
    }

    &__bg
    {
        background: url('/'+$static+'/img/main-banner.jpg') top / cover  no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 222px;
        z-index: -1;

        &::before,
        &::after
        {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        &::before {background: rgba(36, 40, 48, .5);}
        &::after {background: linear-gradient(180deg, rgba(36, 40, 48, 0.17) 17.68%, rgba(36, 40, 48, 0.19) 47.61%, #2F3440 89.51%), linear-gradient(0deg, rgba(36, 40, 48, 0.45), rgba(36, 40, 48, 0.45));}

        @include tablet
        {
            height: 100%;
        }
    }

    .container
    {
        @include tablet
        {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    &__wrap
    {
        flex: 1 0;
        height: 222px;
        position: relative;

        display: flex;

        @include tablet {position: static;}
    }

    &__title
    {
        margin-top: 50px;

        @include tablet {margin-top: 100px;}
    }
    &__gotoblock
    {
        width: 60px;
        height: 60px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);

        svg {width: 32px;}

        @include tablet
        {
            svg {width: 40px;}
        }
    }

    &__list
    {
        padding: 0 14px;
        li
        {
            flex: 1 0;
            display: flex;
            align-items: center;
            margin-bottom: 45px;

            &:last-child {margin-bottom: 0;}
        }

        @include tablet
        {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 122px;
            padding: 0;

            li
            {
                margin-right: 10px;
                margin-bottom: 0;
            }
        }
    }

    &__count
    {
        font-family: Aldrich, sans-serif;
        font-size: 50px;
        line-height: 50px;
        color: #31343e;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px $red;
        margin-right: 16px;
    }

    &__text
    {
        @include font-set(16, 22px, 400);
    }
}
