{% load static %}

<div class="header" id="header">
    <div class="container">

        <div class="header__container">
            <div class="_header__topline"></div>

            <a href="/" class="header__logo">
                <img src="{% static 'img/logo.svg' %}" alt="logo" />
            </a>

            <div class="g-burger header__burger" onclick="gz.header.toggleMenu()">
                <div class="g-burger__burger-btn"></div>
            </div>

            <nav class="header__nav _header__nav">
                <ul class="header__ul _header__ul">
                    <li class="header__ul-theme-switcher dark">
                        <button onclick="gz.header.toggleTheme()" class="_theme-switcher-btn">{{darkSiteTheme}}</button>
                    </li>

                    <li class="header__ul-theme-switcher light">
                        <button onclick="gz.header.toggleTheme()" class="_theme-switcher-btn">{{lightSiteTheme}}</button>
                    </li>

                    {% for link in header.links %}
                        <li>
                            <a href="{{link.url}}">{{link.title}}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="header__actions">
                    <div class="header__theme-switcher _theme-switcher">
                        <button onclick="gz.header.toggleTheme()" class="_theme-switcher-btn dark">
                            {{darkTheme}}&nbsp;{% include '#img/theme-dark.svg' %}
                        </button>
                        <button onclick="gz.header.toggleTheme()" class="_theme-switcher-btn light">
                            {{lightTheme}}&nbsp;{% include '#img/theme-light.svg' %}
                        </button>
                    </div>

                    <div class="header__lang">
                        <button
                            class="header__lang-item _lang-item {% if locale == 'RU' %}header__lang-item--active{% endif %}"
                            onclick="gz.header.changeLang(this, 'RU')">ru</button>
                        <div class="header__lang-dash"></div>
                        <button
                            class="header__lang-item _lang-item {% if locale == 'EN' %}header__lang-item--active{% endif %}"
                            onclick="gz.header.changeLang(this, 'EN')">en</button>
                    </div>
                </div>

                <!-- <div class="header__lang">
                    <button
                        class="header__lang-item _lang-item {% if locale == 'RU' %}header__lang-item--active{% endif %}"
                        onclick="gz.header.changeLang(this, 'RU')">ru</button>
                    <div class="header__lang-dash"></div>
                    <button
                        class="header__lang-item _lang-item {% if locale == 'EN' %}header__lang-item--active{% endif %}"
                        onclick="gz.header.changeLang(this, 'EN')">en</button>
                </div> -->
            </nav>
        </div>

    </div>
</div>
