.header
{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    background-color: $bg;
    // color: #fff !important;

    * {
        color: var(--text-color);

        @include desktop {
            color: #fff;
        }
    }

    &__container
    {
        position: relative;
        height: 104px;
        padding: 0 150px;
        // padding-right: 70px;
        padding-right: 230px;
    }

    &__topline--shadow
    {
        position: fixed;
        width: 100%;
        height: 104px;
        left: 0;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
        background: $bg;
        z-index: 20;
    }

    &__burger
    {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        @include desktop {display: none;}
        z-index: 20;
    }

    &__logo
    {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;

        img
        {
            height: 74px;
        }
    }

    &__nav
    {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 16px;
        overflow-y: scroll;

        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        display: flex;

        &--visible
        {
            opacity: 1;
            visibility: visible;
            z-index: 10;
            padding: 0 16px;
            // background-color: $bg;
            background-color: var(--bg-color);
        }

        @include desktop
        {
            flex: 1 0;
            width: unset;
            display: flex;
            align-items: center;
            margin-top: 0;
            opacity: 1;
            visibility: visible;
            position: static;
            overflow-y: auto;
        }
    }

    &__ul
    {
        margin-top: 184px;
        width: 100%;

        @include desktop
        {
            flex: 1 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 850px;
            margin: 0 auto;
            margin-top: 0;
        }

        li
        {
            border-bottom: 1px solid #434854;
            width: 100%;

            &:last-child
            {
                border-bottom: none;
                height: 50px;
                margin-top: 24px;
                // background: #434854;
                background: var(--black2-color);
                border-radius: 4px;
                width: 201px;
                margin-bottom: 24px;

                a
                {
                    text-align: center;
                    padding-left: 24px;
                    position: relative;
                    font-weight: inherit;

                    &::before
                    {
                        content: '';
                        width: 24px;
                        height: 24px;
                        border: 1px solid #FFFFFF;
                        border-radius: 3px;
                        background: url($static + 'img/phone.svg') center / 16px 16px no-repeat;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 10px;
                    }
                }
            }

            @include desktop
            {
                margin: 0 5px;
                display: flex;
                align-items: center;
                opacity: .7;
                border-bottom: none;
                width: auto;

                &:last-child
                {
                    opacity: 1;
                    height: auto;
                    margin-top: 0;
                    background: none;
                    border-radius: 4px;
                    width: auto;
                    margin-bottom: 0;

                    a {
                        padding-left: 0;
                        &::before {display: none;}
                    };
                }
            }

            a, button
            {
                @include font-set(16, 49px, 400);
                display: block;
                border-bottom: 1px solid #ffffff00;
                white-space: nowrap;

                &:hover,
                &:active {text-decoration: underline;}

                &:first-letter {text-transform: capitalize;}


                @include desktop
                {
                    line-height: 25px;
                    text-transform: uppercase;
                }
            }
        }

    }

    &__actions
    {
        position: absolute;
        top: 124px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;

        @include desktop
        {
            top: auto;
            right: 0;
            left: auto;
            display: flex;
            width: fit-content;
            padding: 0;
        }
    }

    &__ul
    {
        li.dark {display: none;}

        &.light
        {
            li.dark {display: block;}
            li.light {display: none;}
        }
    }

    & &__ul-theme-switcher
    {
        &:active {opacity: .7;}
        @include desktop {display: none !important;}
    }

    &__theme-switcher
    {
        display: none;


        &:active {opacity: .7;}

        @include desktop
        {
            display: block;
            margin-right: 45px;

            button.dark {display: none;}

            &.light
            {
                button.dark {display: flex;}
                button.light {display: none;}
            }
        }

        button
        {
            display: flex;
            align-items: center;
        }
    }

    &__lang
    {
        // position: absolute;
        // top: 124px;
        // left: 0;
        width: 100%;
        display: flex;
        padding: 0 16px;
        height: fit-content;

        @include desktop
        {
            top: auto;
            right: 0;
            left: auto;
            display: flex;
            width: fit-content;
            padding: 0;
        }
    }
    &__lang-item
    {
        text-transform: uppercase;
        @include font-set(16, 16px, 300);

        flex: 1 0;
        background-color: $gray;
        color: $bg;
        border-radius: 10px;
        height: 32px;

        &:first-child {margin-right: 10px;}

        &--active
        {
            color: $gray;
            background: $red;
        }

        @include desktop
        {
            height: auto;
            background: transparent;
            color: $gray;

            &:first-child {margin-right: 0;}

            &--active
            {
                font-weight: bold;
            }
        }
    }

    &__lang-dash
    {
        display: none;

        @include desktop
        {
            background: #fff;
            min-width: 1px;
            height: 14px;
            margin: 0 10px;
            display: block;
        }
    }
}


:root[theme='light'] .header__ul li:last-child
{
    a:before
    {
        border-color: #080B12;
        background: url($static + 'img/phone-black.svg') center / 16px 16px no-repeat;
    }
}
