{% load static %}

<div class="header">
    <div class="container">

        <div class="header__container">
            <div class="_header__topline"></div>

            <a href="/" class="header__logo">
                <picture>
                    <source srcset="{% static 'img/logo.webp' %}" type="image/webp">
                    <img src="{% static 'img/logo.jpg' %}" alt="logo" />
                </picture>
            </a>

            <div class="g-burger header__burger" onclick="gz.header.toggleMenu()">
                <div class="g-burger__burger-btn"></div>
            </div>

            <nav class="header__nav _header__nav">
                <ul class="header__ul">

                    {% for link in header.links %}
                        <li>
                            <a href="{{link.url}}">{{link.title}}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="header__lang">
                    <button
                        class="header__lang-item _lang-item _lang-item-ru header__lang-item--active"
                        onclick="gz.header.changeLang('ru')">ru</button>
                    <div class="header__lang-dash"></div>
                    <button
                        class="header__lang-item _lang-item _lang-item-en"
                        onclick="gz.header.changeLang('en')">en</button>
                </div>
            </nav>
        </div>

    </div>
</div>
