.DS_Store
sftp-config.json
bower_components
node_modules
__pycache__
migrations
env
.env
.htpasswd
.htaccess

project/settings.py
gunicorn_config.py
bin/start_gunicorn.sh

images/*.jpg
images/*.png
images/*.svg
images/*.gif
images/*.ico
images/*.webp

media/**/*

package-lock.json
/*.sqlite3
/.idea
.idea
/web.config
/*web.config
/*.log
/*.sql
#!/robots.txt
/sitemap*.xml
/*.dt
/*.tar.gz
/*.gz
/*.tar
/*.bak
/*.old
/*sftp-config.json
/*~
*/_*
/_*
/composer.*
/.phpintel
/docs/
.editorconfig
static/
