.g-more-btn {
    @include font-set(16, 105%, 400);
    display: block;
    height: 65px;
    background-color: $red;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    @include tablet
    {
        max-width: 280px;
    }
}
