<div class="about-services">
    <div class="about-services__title">{{servicesTitle}}</div>
    {% for service in services %}
    <div class="about-services__item">
        <img src="/staticfiles/img/shield.svg" alt="shield">{{service}}
    </div>
    {% endfor %}
</div>
