{% load static %}
{% load get_locale %}
{% load i18n %}

<div class="index-news container">
    <div class="g-block__title">
        {{news.title}}
    </div>
    <div class="index-news__wrapper">
        <div class="index-news__slider g-slider _index-news__slider">
            {% for new in news_list %}
            <div class="index-news__slider-item">
                <div class="index-news__slider-item-title"><a href="/news/{{new.id}}">{{new.title|get_locale:locale}}</a></div>
                <div class="index-news__slider-item-text">{{new.desc|get_locale:locale}}</div>
                <div class="index-news__slider-item-nav">
                    {% language locale|lower %}
                        <div class="index-news__slider-item-date">{{new.date|date:"d E"}}</div>
                    {% endlanguage %}
                    <!-- <div class="index-news__slider-item-details">
                        <a href="/news/{{new.id}}">{{news.more_details}}</a>
                    </div> -->
                </div>
                <!-- <div class="index-news__slider-item-img g-loading"> -->
                    <a  class="index-news__slider-item-img g-loading" href="/news/{{new.id}}">
                        <img data-src="{{new.img.url}}" src="#" alt="Image">
                    </a>
                <!-- </div> -->
                <a class="index-news__details-btn g-more-btn" href="/news/{{new.id}}">{{news.more_details}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
