.index-news
{
    &__wrapper
    {
        overflow: hidden;
        width: calc(100% + 10px);
        margin-left: -5px;
        margin-top: 29px;

        @include tablet
        {
            width: unset;
            max-width: calc(100% + 82px);
            margin-right: -82px;
            padding-bottom: 123px;
            margin-left: 0;
            margin-top: 40px;
        }
    }
    &__slider
    {
        position: relative;
        padding-bottom: 64px;
        @include tablet {padding-bottom: 0;}

        .slick-track {align-items: flex-end;}

        .slick-arrow
        {
            position: absolute;
            z-index: 100;
            bottom: 0;

            &.slick-disabled {opacity: .7;}

            @include tablet {bottom: -71px;}
        }
        .slick-prev {left: 0;}
        .slick-next {right: 0;}

        .slick-dots
        {
            position: absolute;
            z-index: 100;
            bottom: 18px;
            left: 50%;
            transform: translateX(-50%);

            @include tablet {bottom: -53px;}
        }

        @include tablet
        {
            max-width: 625px;
        }
    }

    &__slider-item
    {
        display: flex;
        flex-direction: column;

        margin: 0 5px;

        @include tablet
        {
            flex: 1 0;
            height: fit-content;
            transition: all .5s ease;
            max-width: 625px;
            height: 582px;
            margin: 0;

            &.slick-active.slick-current
            {
                & ~ .slick-slide
                {
                    max-width: 412px;
                    height: 435px;
                    padding-left: 24px;
                }
            }
        }
    }

    &__slider-item-title
    {
        @include font-set(16, 24px);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 46px;

        @include tablet
        {
            padding: 0;
            padding-right: 100px;
            line-height: 21px;
        }
    }

    &__slider-item-text
    {
        @include font-set(12, 16px);
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 32px;
        margin-top: 29px;

        @include tablet {padding: 0;}
    }

    &__slider-item-nav
    {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        * {@include font-set(14, 16px);}

        @include tablet {padding: 0;}
    }

    &__slider-item-date
    {
        text-transform: lowercase;
    }

    &__slider-item-details
    {
        a:hover {color: blue;}
    }

    &__slider-item-img
    {
        flex: 1 0;
        margin-top: 17px;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__details-btn
    {
        margin-top: 24px;

        @include tablet {display: none;}
    }
}
