{% load static %}

<!DOCTYPE html>
<html lang="ru" theme="dark">
<!-- <html lang="ru" theme="light"> -->
<head>
    {% block head %}
    <title>Title</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="ЧОП Бумеранг, Нижний Новгород, бумеранг охранное предприятие, вневедомственная пультовая охрана, группа быстрого реагирования, группа охранных предприятий, кнопки тревожной сигнализации, оборудование пультовой охраны, оператор пультовой охраны, охранное предприятие, охранное предприятие чоп, охранные чопы, пультовая охрана гаража, пультовая охрана квартир, пультовая охрана нижний новгород, пультовая охрана объектов">
    <meta name="description" content="Охрана персонала и материальных ценностей, сопровождение грузов по территории РФ, пультовая охрана с выездом группы быстрого реагирования, проектирование и монтаж видео-наблюдения, охранно-пожарной сигнализации">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width">
    <meta name="viewport min-width=375px" content="min-width=375, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link type="image/x-icon" rel="shortcut icon" href="{% static '/img/favicon.ico' %}">
    <link type="image/png" sizes="16x16" rel="icon" href="{% static '/img/favicon_16.png' %}">
    <link type="image/png" sizes="32x32" rel="icon" href="{% static '/img/favicon_32.png' %}">
    <link type="image/png" sizes="96x96" rel="icon" href="{% static '/img/favicon_96.png' %}">
    <link type="image/png" sizes="120x120" rel="icon" href="{% static '/img/favicon_120.png' %}">
    {% block scripts %}{% endblock %}
</head>
<body>
    {% block header %}
        {% include 'components/header/header.jinja' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'components/footer/footer.jinja' %}
    {% endblock %}

    <script src="{% static 'js/script.min.js' %}"></script>
</body>
</html>
