<ul class="links-list _links-list">
    {% for link in linksList %}
    <li class="{% if link.tab == tab %}active{% endif %}">
        <a href="{{link.url}}">{{link.title}}</a>
    </li>
    {% endfor %}
</ul>
