<div class="about-vacancies">
    <div class="about-vacancies__desc">{{vacancies.desc}}</div>
    {% for el in vacancies.items %}
        <div class="about-vacancies__item">
            <div class="about-vacancies__title">{{el.title}}:</div>
            <ul class="about-vacancies__list">
                {% for item in el.items %}
                    <li>{{item}}.</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
