.news-detail
{
    padding-top: 24px;

    &.container
    {
        margin-bottom: 56px;

        @include tablet {margin-bottom: 0;}
    }

    h1
    {
        @include font-set(20, 24px, 700);
        margin-bottom: 24px;

        @include desktop
        {
            margin-bottom: 32px;
            max-width: 1044px;
            padding-right: 200px;
        }
    }

    p
    {
        margin-bottom: 28px;
    }

    .bread-crumbs
    {
        margin-bottom: 24px;

        @include tablet {margin-bottom: 16px;}
    }

    &__item
    {
        position: relative;
    }

    &__date
    {
        display: none;
        text-transform: lowercase;

        @include desktop
        {
            display: block;
            @include font-set(14, 32px, 300);
            width: 195px;
            text-align: center;
            position: absolute;
            right: 0; top: 0;
            // background-color: #2B303B;
            background-color: var(--black2-color);
            border-radius: 5px;
        }
    }

    &__wrapper
    {
        margin-bottom: 40px;

        @include desktop
        {
            display: flex;
            margin-bottom: 20px;
        }
    }

    &__text
    {
        flex: 1 0;
        margin-bottom: 24px;

        @include desktop {
            margin-bottom: 0;
            margin-right: 24px;
        }
    }

    &__img
    {
        width: 100vw;
        margin-left: -16px;
        height: 273px;

        img
        {
            width: 100%;height: 100%;
            object-fit: cover;
        }

        @include mobile
        {
            width: 100%;
            margin: 0;
        }

        @include desktop
        {
            flex: 1 0;
            max-width: 430px;
        }
    }

    &__read-same
    {
        padding-top: 32px;
        background-color: var(--black2-color);

        .g-block__title {margin-bottom: 24px;}

        @include tablet
        {
            padding-top: 29px;

            .g-block__title {margin-bottom: 55px;}
        }
    }

    .g-news
    {
        &__item-title
        {
            @include tablet
            {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 8px;
            }
        }

        &__item-desc
        {
            @include tablet {margin-bottom: 16px;}
        }

        &__item-df-jcsb
        {
            @include tablet {margin-bottom: 3px;}
        }
    }

    .g-slider
    {
        overflow: hidden;
        padding-bottom: 30px;
        position: relative;
        margin-bottom: 57px;
        display: flex;

        @include tablet
        {
            margin-bottom: 105px;
            padding-bottom: 143px;
            width: calc(100% + 12px);
            margin-left: -6px;
        }
        @include desktop {
            margin-left: -10;
        }

        .slick-list
        {
            height: auto !important;
            width: 100%;
            @include tablet {
                height: auto;
                width: inherit;
                margin-left: -4px;
            }
            @include desktop {
                margin-left: 0;
            }

        }

        .slick-track
        {
            display: block;
            height: auto !important;
            @include tablet
            {
                display: flex;
                height: auto;
                align-items: flex-end;
            }
        }

        .slick-slide
        {
            margin-bottom: 22px;

            &:nth-child(n + 4) {display: none;}

            @include tablet
            {
                margin: 0 10px;
                &:nth-child(n + 4) {display: block;}
            }
        }

        .slick-arrow
        {
            position: absolute;
            bottom: 46px;
        }
        .slick-prev {left: 10px;}
        .slick-next {right: 0;}

        .slick-dots
        {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 60px;
        }
    }
}
