.index
{
    .banner
    {
        margin-bottom: 64px;
        @include tablet {margin-bottom: 103px;}
    }

    .services
    {
        margin-bottom: 80px;
        @include tablet {margin-bottom: 112px;}
    }

    .index-about
    {
        margin-bottom: 40px;
        @include tablet {margin-bottom: 112px;}
    }
}
