.article-detail
{
    background-color: #fff;
    padding: 24px 0 56px;

    @include tablet {padding-bottom: 105px;}

    .container {position: relative;}

    .bread-crumbs
    {
        margin-bottom: 24px;

        * {color: $black;}

        li::after {background-color: $black;}

        @include tablet {margin-bottom: 32px;}
    }

    &__read-style
    {
        color: $black;
        opacity: 0.4;
        font-size: 12px;
        @include font-set(12, 16px, 300);
        background: #F0F0F0;
        border-radius: 10px;
        padding: 16px 70px;
        text-align: center;
        margin-bottom: 24px;

        @include tablet
        {
            position: absolute;
            right: 82px;
            max-width: 194px;
            padding: 16px 24px;
            margin-bottom: 0;
        }
    }

    &__wrapper
    {
        // position: relative;
        max-width: 952px;
    }

    .g-block__title
    {
        margin-bottom: 24px;
    }

    &__text
    {
        * {color: $black;}

        h2
        {
            &, & * {@include font-set(20, 24px, 700);}
            margin-bottom: 16px;
            text-transform: uppercase;
        }

        h3
        {
            &, & * {@include font-set(18, 21px, 700);}
            margin-bottom: 16px;
        }

        & > div
        {
            margin-bottom: 32px;
            @include tablet {margin-bottom: 40px;}
        }

        p
        {
            margin-bottom: 24px;
        }

        ul
        {
            li
            {
                padding-left: 16px;
                position: relative;
                margin-bottom: 24px;

                &::before
                {
                    content: '';
                    width: 8px; height: 8px;
                    border-radius: 50%;
                    background-color: $red;
                    position: absolute;
                    top: 5px;
                    left: 0;
                }
            }
        }

        .red {color: $red;}
        .gray {color: #BDBDBD;}
        .mb0 {margin-bottom: 0;}
    }

    .footer__gotoup
    {
        display: none;

        @include tablet
        {
            right: 24px;
            bottom: -18px;
            top: unset;
            transform: translateY(100%);
            display: block;
        }
    }
}

:root[theme='light'] {
    .article-detail__read-style {display: none;}
}
