<div class="popup popup-slider _popup-slider">
    <div class="popup__body">
        <div class="popup__content">
            <div
                class="popup__close"
                onclick="gz.popup.close('_popup-slider')">
                <div class="popup__close-btn"></div>
            </div>
            <div class="popup-slider__slider g-slider _popup-slider__slider"></div>
        </div>
    </div>
</div>
