{% load get_locale %}

<div class="about-clients about-feedbacks">
    <div class="about-clients__slider g-slider _about-clients__slider">
        {% for client in clients %}
        <div
            class="about-clients__item _about-clients__item"
            data-img="{{client.img.url}}"
            onclick="gz.popup.open('_popup-img', gz.aboutClients.showDetail, [this])">
            <div class="about-clients__item-bg">
                <img src="{{ client.img.url }}" alt="bg" />
            </div>
            <div class="about-clients__item-text">{{client.title|get_locale:locale}}</div>
        </div>
        {% endfor %}
    </div>
    <button
        class="about-clients__show-more g-more-btn _about-clients__show-more"
        onclick="gz.aboutClients.showMoreItems()">
        {{showMore}}
    </button>
</div>
