{% extends 'layouts/Base.jinja' %}

{% block content %}

    <div class="index">
        {% include 'components/banner/banner.jinja' %}
        {% include 'components/services/services.jinja' %}
        {% include 'components/about/about.jinja' %}
    </div>

{% endblock %}
