{% extends 'layouts/Base.jinja' %}

{% block content %}

    <div class="index">
        {% include 'components/index-banner/index-banner.jinja' %}
        {% include 'components/index-services/index-services.jinja' %}
        {% include 'components/index-about/index-about.jinja' %}
        {% include 'components/index-promo/index-promo.jinja' %}
        {% include 'components/index-news/index-news.jinja' %}
    </div>

{% endblock %}
