{% extends 'layouts/Base.jinja' %}
{% load get_locale %}
{% load i18n %}

{% block head %}
<title>{{title}} | {{titleDesc}}</title>
{% endblock %}

{% block content %}

    <div class="news container">
        {% include 'components/bread-crumbs/bread-crumbs.jinja' %}
        <div class="g-block__title">
            {{title}}
        </div>
        <div class="news__wrapper _news__wrapper">
            {% for new in news %}
                <div class="news__item g-news">
                    <div class="g-news__item-title">
                        <a href="/news/{{new.id}}">{{new.title|get_locale:locale}}</a>
                    </div>
                    <div class="g-news__item-desc">{{new.desc|get_locale:locale}}</div>
                    <div class="g-news__item-info g-news__item-df-jcsb">
                        {% language locale|lower %}
                            <div class="g-news__item-date">{{new.date|date:"d E"}}</div>
                        {% endlanguage %}
                        <a href="/news/{{new.id}}" class="g-news__item-detail">{{more}}</a>
                    </div>
                    <div class="g-news__item-img">
                        <a href="/news/{{new.id}}">
                            <img src="{{new.img.url}}" alt="img">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if news|length > 5 %}
        <button class="g-news__show-more g-more-btn" onclick="gz.news.getNews()">{{showMore}}</button>
        {% endif %}
    </div>

{% endblock %}
