{% extends 'layouts/Base.jinja' %}
{% load get_locale %}

{% block head %}
<title>{{title}} | {{titleDesc}}</title>
{% endblock %}

{% block content %}

    <div class="prices">
        <div class="container">
            {% include 'components/bread-crumbs/bread-crumbs.jinja' %}
            <div class="g-block__title">{{title}}</div>
            {% for price in prices %}
                <div class="prices__item">
                    <div class="prices__item-img">
                        <img src="{{price.img.url}}" alt="service">
                    </div>
                    <div class="prices__item-data">
                        <div class="prices__item-title">{{price.title|get_locale:locale}}</div>
                        <div class="prices__item-price">{{price.price|get_locale:locale }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
