{% extends 'layouts/Base.jinja' %}

{% block head %}
<title>{{title}} | {{titleDesc}}</title>
{% endblock %}

{% block content %}

    <div class="services">
        <div class="container">
            {% include 'components/bread-crumbs/bread-crumbs.jinja' %}
            <div class="g-block__title">
                {{title}}
            </div>
            {% include 'components/links-list/links-list.jinja' %}

            {% include 'components/services/services.jinja' %}

        </div>
    </div>

{% endblock %}
