{% extends 'layouts/Base.jinja' %}
{% load get_locale %}

{% block head %}
<title>{{title}} | {{titleDesc}}</title>
{% endblock %}

{% block content %}

    <div class="stocks">
        <div class="container">
            {% include 'components/bread-crumbs/bread-crumbs.jinja' %}
            <div class="g-block__title">{{title}}</div>
            {% for stock in stocks %}
                <div class="stocks__item">
                    <div class="stocks__item-img">
                        <img src="{{stock.img.url}}" alt="service">
                    </div>
                    <div class="stocks__item-data">
                        <div class="stocks__item-title">{{stock.title|get_locale:locale}}</div>
                        <div class="stocks__item-stock">{{stock.price|get_locale:locale }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
