<div class="index-about container" id="index-about">
    <div class="g-block__title">
        {{about.title}}
    </div>
    <div class="index-about__wrapper">
        <div class="index-about__img g-loading">
            <picture>
                <source data-srcset="{{about.img}}.webp" srcset="#" type="image/webp">
                <img data-src="{{about.img}}.jpg" src="#" alt="slide" />
            </picture>
        </div>
        <div class="index-about__data">
            <div class="index-about__text">
                {% for text in about.text_list %}
                <p>{{ text }}</p>
                {% endfor %}
            </div>
            <a class="index-about__link g-more-btn" href="{{ about.link.url }}">
                {{ about.link.text }}
            </a>
        </div>
    </div>
</div>
