.index-about
{
    .g-block__title
    {
        padding: 0 16px;
        @include tablet {padding: 0;}
    }
    &.container
    {
        padding: 0;
        @include tablet {padding: 0 82px;}
    }

    &__wrapper
    {
        margin-top: 24px;

        @include tablet
        {
            display: flex;
            width: calc(100% + 82px);
            margin-left: -82px;
            height: 688px;
            margin-top: 39px;
        }
    }

    &__img
    {
        width: 100%;
        height: 278px;
        border-radius: 0 5px 5px 0;
        overflow: hidden;

        @include tablet
        {
            flex: 1 0;
            height: 100%;
            max-width: 714px;
        }

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__data
    {
        padding: 0 16px;
        margin-top: 17px;

        @include tablet
        {
            flex: 1 0;
            padding: 0;
            padding-top: 32px;
            margin-top: 0;
            margin-left: 20px;
            max-width: 520px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__text
    {
        p
        {
            @include font-set(16, 20px, 400);
            margin-bottom: 24px;

            @include tablet
            {
                @include font-set(18, 21px, 400);
            }
        }
    }

    &__link {
        color: #fff;
    }
}
