.about-vacancies
{
    background: var(--black2-color);
    border-radius: 5px;
    padding: 24px;

    @include tablet {max-width: 628px;}

    &__desc
    {
        line-height: 24px;
        margin-bottom: 24px;
    }

    &__item
    {
        &:not(:last-child) {margin-bottom: 18px;}
    }

    &__title
    {
        @include font-set(17, 24px, 700);
    }

    &__list
    {
        @include font-set(17, 24px, 700);
    }
}
