{% load get_locale %}

<div class="index-promo">
    <div class="container index-promo__container">
        <div class="g-block__title">
            {{promo.title}}

            <a class="g-block__more" href="/stocks">
                {{promo.all_stocks}}{% include '#img/arrow-empty-r.svg' %}
            </a>
        </div>
        <ul class="index-promo__list">
            {% for promo in promo.promos %}
                <!-- <li class="index-promo__item">
                    <picture>
                        <source data-srcset="{{ promo.img }}.webp" srcset="#" type="image/webp">
                        <img data-src="{{ promo.img }}.jpg" src="#" alt="slide" />
                    </picture>
                    <div class="index-promo__item-data">
                        <div class="index-promo__item-title">{{ promo.title }}</div>
                        <div class="index-promo__item-text">{{ promo.text }}</div>
                    </div>
                </li> -->
                <li class="index-promo__item">
                    <img data-src="{{promo.img.url}}" src="#" alt="slide" />
                    <div class="index-promo__item-data">
                        <div class="index-promo__item-title">{{ promo.title|get_locale:locale}}</div>
                        <div class="index-promo__item-text">{{ promo.price|get_locale:locale }}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% include 'components/no-many-banner/no-many-banner.jinja' %}
</div>
