<div class="about-tasks">
    <div class="about-tasks__title">{{targetsTitle}}</div>
    <div class="about-tasks__wrapper">
        {% for target in targets %}
            <div class="about-tasks__item">{{target}}</div>
        {% endfor %}
    </div>
</div>
