{% load get_locale %}

<div class="services-list">
    {% for service in services %}
        <a href="/services/{{service.id}}">
            <div class="g-service">
                <div class="g-service__img">
                    <img src="{{service.img.url}}" alt="service">
                </div>
                {% if service.price %}
                    <div class="g-service__price">от {{service.price}} р.</div>
                {% endif %}
                <div class="g-service__title">{{service.title|get_locale:locale|safe}}</div>
                <div class="g-service__desc">{{service.desc|get_locale:locale}}</div>
            </div>
        </a>
    {% endfor %}
</div>
