<section class="services" id="services">
    <div class="container">
        <div class="g-block__title">
            услуги

            <div class="services__more">
                ВСЕ УСЛУГИ{% include '#img/arrow-empty-r.svg' %}
            </div>
        </div>
        <div class="services__desc">
            Группа охранных предприятий "Бумеранг" прочно обосновалось на рынке предоставления охранных услуг, более чем двадцатилетнюю работу создало себе имидж надежного, высокоинтеллектуального охранного предприятия.
        </div>
        <div class="services__wrapper">
            <div class="services__wrap">
                <div class="services__slider-title _services__slider-title">
                    Охрана объектоввввввв
                </div>
                <div class="services__slider _services__slider">

                    {% for slide in services.slides %}
                    <div
                        class="services__slider-item"
                        data-title="{{slide.title}}"
                        data-link="{{slide.link.title}}"
                        data-url="{{slide.link.url}}">
                        <picture>
                            <source srcset="{{slide.img}}.webp" type="image/webp">
                            <img src="{{slide.img}}.jpg" alt="slide" />
                        </picture>
                    </div>
                    {% endfor %}
                </div>
                <a href="####" class="services__to-article _services__to-article">
                    лалала
                </a>
                <div class="services__nav _services__nav"></div>
            </div>
        </div>
    </div>
</section>
