<div class="about-galery _about-galery">
    <div class="about-galery__wrapper">
        {% for img in galery %}
            <div
                class="about-galery__img _about-galery__img"
                onclick="gz.aboutGalery.showPopup(this)">
                <picture>
                    <source srcset="{{ img }}.webp" type="image/webp">
                    <img src="{{ img }}.jpg" alt="img" />
                </picture>
            </div>
        {% endfor %}
    </div>
    <button
        class="about-galery__show-more _about-galery__show-more"
        onclick="gz.aboutGalery.showMoreItems()">
        {{showMore}}
    </button>
</div>
