<div class="about-galery _about-galery">
    <div class="about-galery__wrapper">
        {% for photo in galery %}
            <div
                class="about-galery__img _about-galery__img"
                onclick="gz.aboutGalery.showPopup(this)">
                <img src="{{ photo.img.url }}" alt="img" />
            </div>
        {% endfor %}
    </div>
    {% if galery|length > 5 %}
    <button
        class="about-galery__show-more g-more-btn _about-galery__show-more"
        onclick="gz.aboutGalery.showMoreItems()">
        {{showMore}}
    </button>
    {% endif %}
</div>
