{% load static %}

<div class="footer container">
    <a class="footer__gotoup" href="#header" onclick="gz.goToBlock(this)">{{footer.toUp}}</a>
    <div class="footer__row footer__row--first">
        <a href="/" class="footer__logo">
            <img src="{% static 'img/logo.svg' %}" alt="logo" />
        </a>
        <div class="footer__links">
            <ul class="footer__links-list">
                <li><a href="/services?tab=hm">{{footer.services}}</a></li>
                <li><a href="/prices">{{footer.ourPrices}}</a></li>
                <li><a href="/news">{{footer.news}}</a></li>
            </ul>
            <ul class="footer__links-list">
                <li><a href="/about?tab=history">{{footer.aboutUs}}</a></li>
                <li><a href="/articles">{{footer.articles}}</a></li>
                <li><a href="/contacts">{{footer.contacts}}</a></li>
            </ul>
        </div>
        <ul class="footer__contacts">
            <li><a href="tel:+7 (831) 28-28-911">+7 (831) 28-28-911</a></li>
            <li><a href="tel:28-26-112">28-26-112</a></li>
            <li><a href="tel:28-26-110">28-26-110</a></li>
            <li><a href="mailto:bumerang52@list.ru">bumerang52@list.ru</a></li>
        </ul>
    </div>



    <div class="footer__row footer__row--second">
        <div class="footer__copyright">© 2006‐2020 {{footer.chop}}</div>
        <ul class="footer__map">
            <li><a href="/site-map">{{footer.siteMap}}</a></li>
            <li><a href="/links">{{footer.links}}</a></li>
            <li><a href="/documents">{{footer.docs}}</a></li>
        </ul>
    </div>
</div>
