{% load static %}

<div class="footer">
    <div class="container">
        <a class="footer__gotoup" href="{{footer.toUp.url}}" onclick="gz.goToBlock(this)">{{footer.toUp.title}}</a>
        <div class="footer__row footer__row--first">
            <a href="/" class="footer__logo">
                <img src="{% static 'img/logo.svg' %}" alt="logo" />
            </a>
            <div class="footer__links">
                <ul class="footer__links-list">
                    <li><a href="{{footer.services.url}}">{{footer.services.title}}</a></li>
                    <li><a href="{{footer.ourPrices.url}}">{{footer.ourPrices.title}}</a></li>
                    <li><a href="{{footer.news.url}}">{{footer.news.title}}</a></li>
                </ul>
                <ul class="footer__links-list">
                    <li><a href="{{footer.aboutUs.url}}">{{footer.aboutUs.title}}</a></li>
                    <li><a href="{{footer.articles.url}}">{{footer.articles.title}}</a></li>
                    <li><a href="{{footer.contacts.url}}">{{footer.contacts.title}}</a></li>
                </ul>
            </div>
            <ul class="footer__contacts">
                {% for contact in footerContacts %}
                <li><a href="{{contact.url}}" target="_blank">{{contact.title}}</a></li>
                {% endfor %}
            </ul>
        </div>



        <div class="footer__row footer__row--second">
            <div class="footer__copyright">© 2006‐2020 {{footer.chop.title}}</div>
            <ul class="footer__map">
                <li><a href="{{footer.siteMap.url}}">{{footer.siteMap.title}}</a></li>
                <li><a href="{{footer.links.url}}">{{footer.links.title}}</a></li>
                <li><a href="{{footer.docs.url}}">{{footer.docs.title}}</a></li>
            </ul>
        </div>
    </div>
</div>
