<div class="about-services">
    <div class="about-services__title">{{servicesTitle}}</div>
    {% for service in services %}
    <div class="about-services__item">
        {% include '#img/shield.svg' %}{{service}}
    </div>
    {% endfor %}
</div>
