<div class="no-many-banner">
    <div class="no-many-banner__banner-bg">
        <picture>
            <source srcset="{{ noManyBanner }}.webp" type="image/webp">
            <img class="g-img-bg" src="{{ noManyBanner }}.jpg" alt="bg" />
        </picture>
    </div>
    <div class="container">
        <div class="no-many-banner__banner-title">{{noManyInstall}}</div>
        <div class="no-many-banner__banner-text">{{rentTerms}}</div>
    </div>
</div>
