@import 'lib/null';
@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/tipografy';
@import 'lib/fragments';
@import 'lib/fonts';
@import 'lib/popup';
@import 'lib/select';

// global classes
@import 'g-classes/g-burger';
@import 'g-classes/g-block';
@import 'g-classes/g-slider';
@import 'g-classes/g-img-bg';
@import 'g-classes/g-news';
@import 'g-classes/g-service';

// components
@import '@@webRoot/#assets/components/popup-img/popup-img';
@import '@@webRoot/#assets/components/popup-slider/popup-slider';
@import '@@webRoot/#assets/components/header/header';
@import '@@webRoot/#assets/components/footer/footer';
@import '@@webRoot/#assets/components/bread-crumbs/bread-crumbs';
@import '@@webRoot/#assets/components/links-list/links-list';
@import '@@webRoot/#assets/components/no-many-banner/no-many-banner';
@import '@@webRoot/#assets/components/index/index-banner/index-banner';
@import '@@webRoot/#assets/components/index/index-services/index-services';
@import '@@webRoot/#assets/components/index/index-about/index-about';
@import '@@webRoot/#assets/components/index/index-promo/index-promo';
@import '@@webRoot/#assets/components/index/index-news/index-news';
@import '@@webRoot/#assets/components/about/about-history/about-history';
@import '@@webRoot/#assets/components/about/about-services/about-services';
@import '@@webRoot/#assets/components/about/about-tasks/about-tasks';
@import '@@webRoot/#assets/components/about/about-training/about-training';
@import '@@webRoot/#assets/components/about/about-any-info/about-any-info';
@import '@@webRoot/#assets/components/about/about-arsenal/about-arsenal';
@import '@@webRoot/#assets/components/about/about-clients/about-clients';
@import '@@webRoot/#assets/components/about/about-vacancies/about-vacancies';
@import '@@webRoot/#assets/components/about/about-galery/about-galery';
@import '@@webRoot/#assets/components/services/services';

// pages
@import '@@webRoot/#assets/pages/index/index';
@import '@@webRoot/#assets/pages/about/about';
@import '@@webRoot/#assets/pages/news/news';
@import '@@webRoot/#assets/pages/news-detail/news-detail';
@import '@@webRoot/#assets/pages/services/services';
@import '@@webRoot/#assets/pages/services-detail/services-detail';
@import '@@webRoot/#assets/pages/prices/prices';
@import '@@webRoot/#assets/pages/articles/articles';
@import '@@webRoot/#assets/pages/article-detail/article-detail';
@import '@@webRoot/#assets/pages/contacts/contacts';
@import '@@webRoot/#assets/pages/documents/documents';
@import '@@webRoot/#assets/pages/site-map/site-map';
@import '@@webRoot/#assets/pages/links/links';

*
{
    font-family: 'Helvetica', sans-serif;
    @include font-set(18, 21px, 400);
    color: #fff;
    letter-spacing: 0.01em;
}

body
{
    background-color: $bg;

    &.lock {overflow: hidden;}
}

.container
{
    margin: 0 auto;
    max-width: ($lg+32)+px;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 375px;

    @include tablet
    {
        max-width: ($lg+164)+px;
        padding-left: 82px;
        padding-right: 82px;
    }
}

.g-loading {background: url($static + 'img/loading.svg') center / 100px 100px no-repeat;}
